.tooltip {
    background: #111;
    color: #fff;
    padding: 15px;
    position: absolute;
    text-align: center;
    z-index: 100;
}

.tooltip:after {
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #111;
    bottom: -10px;
    content: '';
    height: 0;
    left: 50%;
    margin-left: -10px;
    position: absolute;
    width: 0;
}

.tooltip.top:after {
    border-bottom: 10px solid #111;
    border-top-color: transparent;
    bottom: auto;
    top: -20px;
}

.tooltip.left:after {
    left: 10px;
    margin: 0;
}

.tooltip.right:after {
    left: auto;
    margin: 0;
    right: 10px;
}
